<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icon-fyp.jpeg">
    <title>Find Your Passion</title>
</head>
<body>
  <a href="#mainContent" tabindex="0" class="skipLink">skip konten</a>
  <header>
   <!-- Header (Navbar) -->
   <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-custom nav-custom">
      <div class="container">
        <a class="navbar-brand" href="#">FYP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-beetween" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link text-white" aria-current="page" href="/">Home</a>
            <a class="nav-link text-white" href="#/passions">Passions</a>
            <a class="nav-link text-white" href="#/post-info">Post</a>
            <a class="nav-link text-white" href="#">About</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
   
   <!-- Hero / Jumbotron-->
   <div class="container">
    <section class="jumbotron text-center">
      <img src="hero.jpg" class="img-fluid hero-img" alt="Hero">
    </section>
  </div>

  <!-- Category -->
   <main id="mainContent">
     <section id="category" class="mb-4">
        <div class="container">
          <div class="row text-center">
            <div class="col">
              <h2>What is your passion?</h2>
            </div>
          </div>
          <div class="row text-center mt-3">
            <div class="col">
              <a class="btn btn-success mt-3" href="#" role="button">Web</a>
              <a class="btn btn-success mt-3" href="#" role="button">Android</a>
              <a class="btn btn-success mt-3" href="#" role="button">Cloud</a>
              <a class="btn btn-success mt-3" href="#" role="button">Language</a>
              <a class="btn btn-success mt-3" href="#" role="button">Design</a>
              <a class="btn btn-success mt-3" href="#" role="button">Animation</a>
              <a class="btn btn-success mt-3" href="#" role="button">iOS</a>
              <a class="btn btn-success mt-3" href="#" role="button">Multiplatform</a>
              <a class="btn btn-success mt-3" href="#" role="button">Network</a>
            </div>
          </div>
        </div>
     </section>
   </main>

   <!-- Footer -->
   <footer class="bg-custom fixed-bottom">
    <div class="container text-center">
      <p class="text-white pt-3">&copy <b>Find Your Passion</b> 2021</p>
    </div>
   </footer>
</body>
</html>