<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Your Passion</title>
</head>
<body>
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg sticky-top navbar-dark nav-custom">
      <div class="container">
        <a class="navbar-brand" href="#">FYP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Category
              </a>
              <ul class="dropdown-menu dropdwon-custom" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item drop-cust-item text-white" href="#">Web</a></li>
               <li><a class="dropdown-item drop-cust-item text-white" href="#">Android/iOS</a></li>
               <li><a class="dropdown-item drop-cust-item text-white" href="#">Cloud</a></li>
             </ul>
            </li>
            <li class="nav-item">
               <a class="nav-link text-white" href="#">About</a>
             </li>
          </ul>
        </div>
      </div>
    </nav>

   <!-- Hero / Jumbotron-->
   <section class="jumbotron text-center">
      <img src="hero.jpg" alt="Jumbotron" class="hero-img">
      <h2 class="display-4 pt-5 text-hero">What’s Is Your Passion?</h2>
   </section>

   <main id="mainContent">
     <section class="container">
        
     </section>
   </main>
</body>
</html>